# ================= 基础训练设置 =================
model: "ultralytics/cfg/models/11/yolo11-pose.yaml"  # 模型结构或权重
epochs: 350       # 训练轮数
imgsz: 640            # 输入尺寸
batch: 256              # batch size
device: "0,1"                # GPU id，CPU 可写 "cpu"
workers: 8               # dataloader workers 数
cache: false             # 是否缓存数据到内存/磁盘

# train script only
train_ratio: 0.9         # 你自己用来做 train/val 划分的比例
seed: 0                  # 随机种子（也传给 YOLO）

# ================= 优化器 & 学习率 =================
optimizer: "AdamW"       # "SGD" | "Adam" | "AdamW"
lr0: 0.00025             # 初始学习率
lrf: 0.01                # 最终学习率比例（与 lr0 相乘）
momentum: 0.937          # 动量（SGD/Adam 等）
weight_decay: 0.0005     # 权重衰减

warmup_epochs: 8       # warmup 轮数
warmup_momentum: 0.8     # warmup 起始动量
warmup_bias_lr: 0.1      # bias 的 warmup 学习率
cos_lr: true             # 是否使用余弦退火

# ================= 损失函数权重（仅关键点模式，无bbox） =================
pose: 12.0               # 关键点回归 loss 权重
kobj: 2.0                # 关键点 objectness loss 权重
cls: 2.0                # 分类 loss 权重
color: 2.0               # 颜色分类 loss 权重

# ================= 数据增强超参数 =================
hsv_h: 0.03              # 色调扰动
hsv_s: 0.8               # 饱和度扰动
hsv_v: 0.7               # 亮度扰动

degrees: 5.0             # 旋转角度
translate: 0.15           # 平移比例
scale: 0.6               # 尺度缩放范围
shear: 0.0               # 剪切
perspective: 0.0         # 透视变换

flipud: 0.0              # 上下翻转概率
fliplr: 0.0              # 左右翻转概率

mosaic: 1.0              # mosaic 概率
mixup: 0.05               # mixup 概率
copy_paste: 0.0          # copy-paste 概率
erasing: 0.4             # 随机擦除概率

close_mosaic: 150         # 最后 N 个 epoch 关闭 mosaic

# ================= 训练流程控制 =================
patience: 50             # 早停耐心值
resume: false            # 是否从 last.pt 继续训练
pretrained: true         # 是否加载预训练权重（对于 .yaml 结构有效）
amp: true                # 混合精度训练
deterministic: false     # 是否强制确定性（会稍慢）
val: true                # 训练过程中是否做验证

# ================= 日志 & 权重保存 =================
tensorboard: true        # 脚本里用 SETTINGS 控制
project: "/home/ljy/RMArmorPose/runs"   # 日志根目录
name: "rmarmor_yolo11_pose"                  # 本次训练子目录
exist_ok: true          # 已存在同名目录是否复用
save: true              # 保存 best.pt / last.pt
save_period: -1         # >0 时每 N epoch 额外保存一次
plots: true             # 保存训练曲线 / 样本可视化图


# https://docs.ultralytics.com/zh/modes/train/#train-settings